html {
  background-color: var(--sky-blue);
  font-family: var(--main-font);
}

::-webkit-input-placeholder {
   color: rgba(220, 220, 220, 1);
}

input {
  margin: 5px;
  font-size: 1.5em;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(255,255,255,1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0,0,0,0);
  text-align: center;
}

input:focus {
  outline: 0px;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: var(--main-font);
}

a {
  color: #FFFFFF;
  font-size: 2em;
}

table {
  margin-left: 10%;
  color: #FFFFFF !important;
  width: 80%;
  font-size: 1.5em;
  border-collapse: gcollapse;
}

th {
  text-align: center;
}

tr {
    text-align: center;
}

tr .score {
  width: 20%;
  text-align: left;
}

td {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

body {
  padding: 0px !important;
	box-sizing: border-box;
}
