.button {
	background-color: #FFFFFF;
  color: var(--sky-blue);

  font-size: 2em;
  font-family: var(--main-font);
  box-shadow: 0px 0px 0px 0px #FFFFFF;
  border: 0px;
  border-radius: 1000px;
  width: 120px;
  height: 120px;
  margin-left: calc(50% - 60px);
  cursor: pointer;
  transition: box-shadow, margin-bottom, margin-top, 0.4s;
}

.button:hover {
  box-shadow: 0px 0px 10px 20px #FFFFFF;
  margin-bottom: 20px;
  margin-top: 10px;
}

.button:focus {
  outline: none;
}
